<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <h1>See all the pokemon!</h1>
    <ul>
        <% pokemon.forEach((pokemon, idx) => { %>
            <li>
                <a href="http://localhost:3001/pokemon/<%=idx%>"><%= pokemon.name %></a>
            </li>
        <% }) %> 
    </ul>
</body>
</html>