<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke Express</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Gotta Catch 'Em All</h1>
    <h2><%= pokemon.name %></h2>
    <img src="<%=pokemon.img%>.jpg"> <br>
    <a href="http://localhost:3001/pokemon">Back</a>
</body>
</html>