<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <h1>Gotta Catch 'Em All</h1>
    <h2><%= pokemon.name %></h2>
    <img src="<%=pokemon.img%>.jpg"> <br>
    <a href="http://localhost:3001/pokemon">Back</a>
</body>
</html>